---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rolodex Landing Page">
  <main class="mx-auto h-screen w-2/3 antialiased flex justify-center items-center text-center">
    <div>
      <p class="text-3xl font-bold">Rolo/dex</p>
      <p class="text-xl">Build better relationships by bringing social back to our networks</p>
      <div class="grid grid-cols-2 my-8">
        <p>Designed for thoughtful relationship building: Rolo/dex beautifully visualises your network and surfaces organic actions with your connections.
          Rolo/dex is local-first and user owned - a secure and private way to nurture your relationships</p>
        <p>pic</p>
      </div>
      <a href="https://shovelco.notion.site/Decentralised-Contact-Network-Summary-v0-2-58cbcf348c8e44d89dfef40b740d61a9?pvs=4" target="_blank" class="mt-8 px-5 py-2.5 bg-black text-white rounded-lg">Join the waitlist here.</a>
    </div>
  </main>
</Layout>
